<?xml version="1.0" encoding="ISO-8859-1"?>
<c:context xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="urn:pt.jma.orchestration.context">
	<c:properties>
		<c:property name="activity-name-mask"><![CDATA[%sActivity.xml]]></c:property>
		<c:property name="activity-uri"><![CDATA[src/test/resources/]]></c:property>
	</c:properties>
	<c:convertersConfig/>
	<c:adaptersConfig>
		<c:adapterConfig name="CustomActionAdapter" class="pt.jma.orchestration.adapter.CustomActionAdapter" />
	</c:adaptersConfig>
	<c:activityInterceptoresConfig/>
	<c:interceptoresConfig>
		<c:interceptorConfig name="BeanBindInterceptor" class="pt.jma.orchestration.adapter.interceptor.BeanBindInterceptor" />
	</c:interceptoresConfig>
	<c:services>
		<c:service name="teste" adapter="CustomActionAdapter">
			<c:interceptores>
				<c:interceptor name="BeanBindInterceptor" />
			</c:interceptores>
		</c:service>
	</c:services>
	<c:results/>
</c:context>
